/*
Estilos para el archivo introweb6.html

Estilos para el cuerpo y el Titular principal de la pagina
Agregamos estilos con el selector:
(#) - para Id
(.)- para clases
(elemento)nombre de la etiqueta- para elementos especificos
([attribute]):para elementos que tienen un atributo específico, independientemente de su valor.*/

body{
    background-color: cornsilk;
}
h1, h2 {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
#clasecontenedor, #clase-row, #clasecol {
    color: rgb(250, 214, 214);
    background-color: brown;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
/* Agregamos estilos a la barra de navegacion y a los elementos dentro de la misma */
#NavPrincipal {
    background-color: coral;
}
.nav-link,
.navbar-brand {
    color: antiquewhite;
}
.nav-link:hover,
.navbar-brand:hover {
    color: darkred;
}
.navbar-toggler {
    background-color: lightskyblue;
}